<!DOCTYPE html>
<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <%_ if (!user) { -%>
    <%- include('./login'); -%>
  <%_ } else { -%>
    <h2>Team Management</h2>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Your Teams</h3>
        <h5 id="instructions" class= "mt-4">Welcome to the your team page! Enter your team name and update your team's score.</p>
        <div id="remove">
          <table class="table table-striped">
          <tbody>
            <%_ let counter = 1;-%>
            <%_ for (const team of teams) { -%>
              <%_ if (team.owner == user._id) { -%>
                <tr>
                <th scope="row"><%=counter++-%></th>
                  <td><%= team._id-%>
                    <form id="manage">
                      <button id="delete">Delete Team</button>
                    </form>
                  </td>
                  <td><%= team.score-%>
                    <form id="stats">
                      <button id="submit">Enter Stats</button>
                    </form>
                 </td>
                </tr>
              <%_ } -%>
            <%_ } -%>
          </tbody>
        </table>
      </div>
    <div id="score">

    </div>
    </div>
  </div>
</form>
  <script>
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>

      $('#stats').on('submit', function(event) {
        event.preventDefault();
        $('#remove').remove();
        $('#score').append($(`<form id="s">
        <h3 id="newScore" class="mt-4">Enter Your Players' Stats From This Week to Get Updated Team Score: </h3>
        <h4 id="qbLabel" class="mt-4">QB Stats:</h4>
        <h5 id="qbYdsL" class="ml-4"> Passing Yards: </h5>
        <input type="text" id="qbT1" class="ml-4">
        <h5 id="qbTdsL" class="ml-4 mt-2"> Passing TDs: </h5>
        <input type="text" id="qbT2" class="ml-4">
        <h4 id="rbLabel" class="mt-3">RB Stats:</h4>
        <h5 id="rbYdsL" class="ml-4"> Rushing Yards: </h5>
        <input type="text" id="rbT1" class="ml-4">
        <h5 id="rbTdsL" class="ml-4 mt-2"> Rushing TDs: </h5>
        <input type="text" id="rbT2" class="ml-4">
        <h4 id="wrLabel" class="mt-3">WR Stats:</h4>
        <h5 id="wrYdsL" class="ml-4"> Receiving Yards: </h5>
        <input type="text" id="wrT1" class="ml-4">
        <h5 id="wrTdsL" class="ml-4 mt-2"> Recieving TDs: </h5>
        <input type="text" id="wrT2" class="ml-4">
        <h4 id="teLabel" class="mt-3">TE Stats:</h4>
        <h5 id="teYdsL" class="ml-4"> Receiving Yards: </h5>
        <input type="text" id="teT1" class="ml-4">
        <h5 id="teTdsL" class="ml-4 mt-2"> Receiving TDs: </h5>
        <input type="text" id="teT2" class="ml-4">
        <h5 id="filler">________________________</h5>
        <button id="submit2" class="mt-2">Submit Stats</button>
        </form>`));
      });

  $('#s').on('submit', function(event){
    const form = $(this);
    const inputs = form.find('input');
    let ins = [];
    for (let input of inputs) {
      input = $(input);
      const li = input.val();
      ins.push(li);
      input.val('');
    }

    let total = 0;
    for (let i = 0; i < ins.length; i++) {
      let num = Number(ins[i]);
      total = total + num;
    }

    event.preventDefault();
    $.ajax({method: 'put', url: '/teams', data: {score: total}})
      .done(() => window.location.replace('/teams/scores'))
      .fail(error => alert(error.responseText));
    });

    $('#s').on('submit', function(event){
      event.preventDefault();
      const form = $(this);

    $.ajax({method: 'post', url: '/teams/_id', data: form.serialize()})
      .done(() => window.location.replace('/teams/scores'))
      .fail(error => alert(error.responseText));
  });

  $('#manage').on('submit', function(event){
    const form = $(this);
    $.ajax({method: 'delete', url: '/teams/_id', data: form.serialize()})
      .done(() => window.location.reload())
      .fail(cerror => alert(error.responseText));
  });
  </script>
  <%_ } -%> <!-- for login.ejs -->
  <script>
  $('.active').removeClass('active');
  $('#myTeams').addClass('active');
  </script>
</html>
