<!DOCTYPE html>
<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <%_ if (!user) { -%>
    <%- include('./login'); -%>
  <%_ } else { -%>
    <h2>Team Management</h2>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Your Teams</h3>
        <h5 id="instructions" class= "mt-4">Welcome to your team page!</p>
        <div id="remove">
          <table class="table table-striped">
          <tbody>
            <%_ let counter = 1;-%>
            <%_ for (const team of teams) { -%>
              <%_ if (team.owner === user._id) { -%>
                <tr>
                <th scope="row"><%=counter++-%></th>
                    <td>
                      <span><%= team._id-%></span>
                      <button class="delete btn btn-outline-primary">Delete Team</button>
                    </td>
                  <td><%= team.score-%>
                      <button class="btn btn-outline-primary"><a href="/teams/scores/<%= team._id-%>">Enter Stats</a></button>
                  </td>
                </tr>
              <%_ } -%>
            <%_ } -%>
          </tbody>
        </table>
      </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
  <script>

  $('.delete').on('click', function(event){
    const button = $(this);
    const id = button.prev().text();
    $.ajax({method: 'delete', url: `/teams/${id}`})
      .done(() => window.location.reload())
      .fail(error => alert(error.responseText));
  });
  </script>
  <%_ } -%> <!-- for login.ejs -->
  <script>
  $('.active').removeClass('active');
  $('#myTeams').addClass('active');
  </script>
</html>
