<!DOCTYPE html>
<html>
  <body>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <%_ if (!user) { -%>
    <%- include('./login'); -%>
  <%_ } else { -%>
  <h2 id="newScore" class="mt-4">Enter Team <%= id-%>'s Player Scores Below:</h2>
  <form id="stats">
  <div class="row">
    <div class="col m-2 p-2">
      <div class="card m-3">
        <h4 id="qbLabel" class="mt-4">QB Stats:</h4>
        <h5 id="qbYdsL" class="ml-4"> Passing Yards: </h5>
        <input type="number" id="qbT1" class="ml-4 mr-4">
        <h5 id="qbTdsL" class="ml-4 mt-2"> Passing TDs: </h5>
        <input type="number" id="qbT2" class="ml-4 mr-4">
        <h4 id="rbLabel" class="mt-3">RB Stats:</h4>
        <h5 id="rbYdsL" class="ml-4"> Rushing Yards: </h5>
        <input type="number" id="rbT1" class="ml-4 mr-4">
        <h5 id="rbTdsL" class="ml-4 mt-2"> Rushing TDs: </h5>
        <input type="number" id="rbT2" class="ml-4 mr-4">
      </div>
  </div>
    <div class="col m-2 p-2">
      <div class="card m-3">
        <h4 id="wrLabel" class="mt-3">WR Stats:</h4>
        <h5 id="wrYdsL" class="ml-4"> Receiving Yards: </h5>
        <input type="number" id="wrT1" class="ml-4 mr-4">
        <h5 id="wrTdsL" class="ml-4 mt-2"> Receiving TDs: </h5>
        <input type="number" id="wrT2" class="ml-4 mr-4">
        <h4 id="teLabel" class="mt-3">TE Stats:</h4>
        <h5 id="teYdsL" class="ml-4"> Receiving Yards: </h5>
        <input type="number" id="teT1" class="ml-4 mr-4">
        <h5 id="teTdsL" class="ml-4 mt-2"> Receiving TDs: </h5>
        <input type="number" id="teT2" class="ml-4 mr-4">
        <button id="submit2" class="btn btn-primary mt-2">Submit Stats</button>
    </div>
  </div>
  </div>
  </form>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous">
</script>
<script>
$('#stats').on('submit', function(event){
  const form = $(this);
  const inputs = form.find('input');
  let ins = [];
  for (let input of inputs) {
    input = $(input);
    const li = input.val();
    ins.push(li);
    input.val('');
  }

  let total = 0;
  for (let i = 0; i < ins.length; i++) {
    let num = Number(ins[i]);
    total = total + num;
  }

  //to update team score and reload teams/manage page with updated score
  event.preventDefault();
  $.ajax({method: 'put', url: '/teams/<%= id-%>', data: {score: total}})
    .done(() => window.location.replace('/teams/manage'))
    .fail(error => alert(error.responseText));
});
</script>
<%_ } -%> <!-- for login.ejs -->
<script>
  $('.active').removeClass('active');
  $('#myTeams').addClass('active');
</script>
</body>
</html>
